{% extends "_skeleton.html" %}

{% block head %}
<link rel="stylesheet" href="{{ stylesheets.default.path }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab">
{% endblock %}

{% block body %}
<div id="content">
    <header>
        <a href="/">
            <h2>International Conference on</h2>
            <h1>Medical&nbsp;Imaging with Deep&nbsp;Learning</h1>
        </a>
    </header>
    <main>
        <div id="page">
            {{ content }}

            <ul id="platforms"{% if permalink == '/' %} class="homepage"{% endif %}>
                <li>
                    <a href="https://twitter.com/midl_conference"><img alt="Follow MIDL on Twitter" src="/assets/platforms/twitter.svg"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCd87UPUTt-oqTeGi8fQw-_w/videos"><img alt="MIDL's channel on YouTube" src="/assets/platforms/youtube.svg"></a>
                </li>
                <li>
                    <a href="https://github.com/MIDL-Conference/midl-website"><img alt="MIDL on GitHub" src="/assets/platforms/github.svg"></a>
                </li>
                <li>
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC BY-SA" src="/assets/platforms/creative-commons.svg"></a>
                </li>
            </ul>
        </div>
    </main>
</div>
{% endblock %}
