{% extends "_skeleton.html" %}

{% block head %}
<link rel="stylesheet" href="{{ stylesheets.default.path }}">
<link rel="stylesheet" href="{{ config.cdn|default('') + stylesheets.fontawesome.path }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Slab">
{% endblock %}

{% block body %}
<div id="content">
    <header>
        <a href="/">
            <h2>International Conference on</h2>
            <h1>Medical&nbsp;Imaging with Deep&nbsp;Learning</h1>
        </a>
    </header>
    <main>
        <div id="page">
            {{ content }}

            <ul id="platforms"{% if permalink == '/' %} class="homepage"{% endif %}>
                {% for page in config.nav %}
                    {% if page.path != permalink %}
                    <li>
                        <a href="{{ page.path }}">
                            <i class="{{ page.icon }}" title="{{ page.title|e }}"></i>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </main>
</div>
{% endblock %}
